.container-fluid {
  background-color: #1E1F26;
  height: 100vh;
}

.row {
  height: 100%;
}

.col-auto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  background-color: #1E1F26;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-icons-top,
.sidebar-icons-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-icons-top i,
.sidebar-icons-bottom i {
  font-size: 30px;
  color: #d5d5d5;
  margin-bottom: 10px;
}


.workspace {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  height: 100vh; /* Ajustar al tamaño de la pantalla */
}

.editor-container {
  background-color: #1E1F26;
  color: #fff;
  border: 1px solid #333;
  padding: 10px;
  box-sizing: border-box;
  height: 100%; /* Ajustar al tamaño de su contenedor */
}

.editor {
  height: calc(100% - 30px); /* Restar el tamaño del header */
  width: 100%;
  border: none;
  background-color: #2D2E3B;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  resize: none; /* Evitar que el textarea sea redimensionable */
}

.preview-container {
  background-color: #ffffff;
  border: 1px solid #1E1F26;
  padding: 10px;
  box-sizing: border-box;
}

.preview {
  height: 100%;
  width: 100%;
  border: none;
}
