<app-navws></app-navws>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar Nav - Primera columna -->
    <div class="col-auto Sidebar">
      <div class="sidebar-icons-top">
        <i class="fas fa-duotone fa-folder-open"></i>
        <i class="fas fa-light fa-boxes-stacked"></i>
      </div>  
      <div class="sidebar-icons-bottom">
        <i class="fas fa-duotone fa-cloud-arrow-down"></i>
        <i class="fas fa-duotone fa-gear"></i>
      </div>
    </div>

    <!-- Área de trabajo - Segunda columna -->
    <div class="col">
      <div class="row" style="height: 50%;">
        <div class="col">
          <!-- HTML Editor -->
          <div class="editor-container h-100">
            <div class="editor-header">HTML</div>
            <textarea class="editor" [(ngModel)]="html_edit" (ngModelChange)="onChangeCode()" id="html-editor"></textarea>
          </div>
        </div>
        <div class="col">
          <!-- CSS Editor -->
          <div class="editor-container h-100">
            <div class="editor-header">CSS</div>
            <textarea class="editor" [(ngModel)]="css_edit" (ngModelChange)="onChangeCode()" id="css-editor"></textarea>
          </div>
        </div>
      </div>
      <div class="row" style="height: 48%;">
        <div class="col">
          <!-- JavaScript Editor -->
          <div class="editor-container h-100">
            <div class="editor-header">JavaScript</div>
            <textarea class="editor" [(ngModel)]="js_edit" (ngModelChange)="onChangeCode()" id="js-editor"></textarea>
          </div>
        </div>
        <div class="col">
          <!-- Preview -->
          <div class="preview-container h-100">
            <iframe class="preview" id="preview"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
